{%extends "base.html"%}

{%block headblock%}



  {{headblock}}
{%endblock%}

{%block bodyblock%}
<div class="row">

  <div class="col s6 ">

  {%if events%}
    {% for Event in events %}

      <div class="card red darken-2" style="max-height:30%; ">
        <div class="card-image" style="">
          <img src= "{{Event.image.url}}">
<span class="card-title">      {{  Event.name}} </span>
</div>
  <div class="card-content red lighten-1">    {{ Event.description}} </div>
    <div class="card-action "><a href="#">  {{  Event.datetime }} | £{{  Event.price}}</a>     </div>
</div>

<div style="padding-top:50%"></div>



    {%endfor%}

  {%endif%}
</div>
</div>





{%endblock%}
